.header__lang-link {
  font-size: 24px;
  line-height: 1.16;
  margin-left: 18px;
  color: #FFFFFF;
  transition: 0.3s linear;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.33;
  }
}
