.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  max-width: 460px;
  width: 100%;
  margin: 0 40px 48px 0;
}

@media screen and (max-width: 1280px) {
  .place__title {
    max-width: 440px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.1;
    margin-right: 28px;
  }
}

@media screen and (max-width: 600px) {
  .place__title {
    margin: 0 0 32px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
    margin: 0 0 32px;
  }
}
