@import url(./__image/photo-grid__image.css);

.photo-grid {
  width: calc(100% - 96px);
  margin: 0 auto 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 16px;
}


@media screen and (max-width: 1280px) {
  .photo-grid {
    width: calc(100% - 48px);
    margin: 0 auto 88px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    width: calc(100% - 48px);
    margin: 0 auto 88px;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: calc(100% - 48px);
    margin: 0 auto 88px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    width: calc(100% - 32px);
    margin: 0 auto 64px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 12px;
  }
}
