.place__content {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* @media screen and (max-width: 768px) {
  .place__content {
    flex-wrap: wrap;
  }
} */

@media screen and (max-width: 600px) {
  .place__content {
    flex-wrap: wrap;
  }
}
