.header__logo {
  width: 176px;
  height: 52px;
  background-image: url(../../../images/header-logo.svg);
  background-size: contain;
  transition: 0.5s linear;
}

.header__logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
