@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);

.header {
  width: calc(100% - 96px);
  margin: 28px auto 56px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .header {
    margin: 28px auto 70px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    margin: 28px auto 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
    margin: 28px auto 48px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: calc(100% - 32px);
    margin: 16px auto 48px;
  }
}
