.footer__link {
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;
  transition: 0.3s linear;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1;
  }
}
