.lead__subtitle {
  max-width: 640px;
  width: 100%;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 0;
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    max-width: 288px;
  }
}
