@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
  width: 100%;
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .cover {
    width: calc(100% - 96px);
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 200px;
  }
}
