@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);
@import url(./__text-column/place__text-column.css);


.place {
  display: grid;
  grid-template-columns: fit-content(460px) fit-content(484px);
  grid-template-rows: repeat(2, auto);
  column-gap: 40px;
  row-gap: 48px;
  justify-content: center;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1280px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    margin-bottom: 72px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .place {
    margin-bottom: 48px;
  }
}
