@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);


.footer {
  width: calc(100% - 96px);
  margin: 92px auto 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 600px) {
  .footer {
    width: 100%;
    margin: 64px 0 24px 16px;
    flex-direction: column;
  }
}
